<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <description>My first Servlet code</description>
        <servlet-name>GeorgeSevlet</servlet-name>
        <servlet-class>servlet.GeorgeSevlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GeorgeSevlet</servlet-name>
        <url-pattern>/servlet/GeorgeSevlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>GeorgeSevlet</servlet-name>
        <url-pattern>/supervisor/GeorgeSevlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>frame.html</welcome-file>
    </welcome-file-list>
</web-app>
